<!-- main part -->
<h1 id="hero-greeting">Welcome to CSE Motors!</h1>
<%- messages() %>
<div id="hero">
    <div class="hero-msg">
        <h3>DMC Delorean</h3>
        <p>
            3 Cup holders<br>
            Superman doors<br>
            Fuzzy dice!
        </p>
        <img id="hero-but" src="/images/site/own_today.png" alt="hero-but">
    </div>
    <img id="hero-img" src="/images/vehicles/delorean.jpg" alt="hero-img">
</div>
<div id="homeP">
    <section class="DMCDeloreanReviews">
        <h3>Delorean Upgrades</h3>
        <ul>
            <li>
                <p>"So fast it's almost like traveling in time." (4/5)</p>
            </li>
            <li>
                <p>"Coolest ride on the road." (4/5)</p>
            </li>
            <li>
                <p>"I'm feeling McFly!" (5/5)</p>
            </li>
            <li>
                <p>"The most futuristic ride of our day." (4.5/5)</p>
            </li>
            <li>
                <p>"'80's livin and I love it!" (5/5)</p>
            </li>
        </ul>
    </section>
    <section class="deloreanUpgrades">
        <h3>Delorean Upgrades</h3>
        <div>
            <img class="upgradesIcon" src="/images/upgrades/flux-cap.png" alt="FluxCapaltorIcon">
            <a>Flux Capaltor</a>
        </div>
        <div>
            <img class="upgradesIcon" src="/images/upgrades/flame.jpg" alt="FlameDecalsIcon">
            <a>Flame Decals</a>
        </div>
        <div>
            <img class="upgradesIcon" src="/images/upgrades/bumper_sticker.jpg" alt="BumperStickersIcon">
            <a>Bumper Stickers</a>
        </div>
        <div>
            <img class="upgradesIcon" src="/images/upgrades/hub-cap.jpg" alt="HubCapsIcon">
            <a>Hub Caps</a>
        </div>
    </section>
</div>