/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Saira", "Saira Semi Condensed", "Saira Extra Condensed", sans-serif;
}

/* header */
header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 20px;
}
header a {
  color: black;
  text-decoration: none;
}
.siteName {
  font-size: 2rem;
  padding: 10px;
}
#tools {
  text-align: right;
  padding: 10px;
}

/* Navigarion */
nav ul {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  list-style: none;
  text-align: center;
  padding: 10px;
}
nav {
  background-color: rgb(36, 35, 50);
  margin-left: 10px;
  margin-right: 10px;
}
nav a {
  color: white;
  text-decoration: none;
}
nav a:hover {
  color: rgb(36, 35, 50);
  background-color: white;
  padding: 3px;
}

/* Main */
main {
  margin: 10px;
}
#hero-greeting, h3 {
  font-family: "Playfair Display", "Lora", "PT Serif";
}
#hero {
  display: grid;
  justify-items: center;
}
.hero-msg {
  grid-column: 2/3;
  grid-row: 3/9;
  color: #19304D;
  background-color: #ffffffb3;
  z-index: 1;
  padding: 10px;
  border-radius: 4%;
}
#hero-but {
  width: 130px;
}
#hero-img {
  grid-column: 1/11;
  grid-row: 1/11;
  width: 80%;
  max-width: 1600px;
}
.deloreanUpgrades {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.deloreanUpgrades h3 {
  grid-column: 1/-1;
}
.deloreanUpgrades div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}
.deloreanUpgrades a {
  color: #0000EE;
  text-decoration: underline;
}
.upgradesIcon {
  background-color: rgb(95, 148, 210);
  padding: 1%;
  padding-left: 20%;
  padding-right: 20%;
  border: solid black 1px;
  width: 100%;
  height: 100px;
  object-fit: contain;
}

footer {
  margin: 10px;
}

@media (min-width: 37.5em) {  
  body {
    background-image: url(../images/site/checkerboard.jpg);
    background-repeat: repeat;
    background-size: 20em 20em;
  }
  #wrapper {
    background-color: white;
    margin: 1em 5em;
    border-radius: 1em;
    border: .25em solid rgb(95, 148, 210);
  }
  #homeP {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .deloreanUpgrades {
    grid-column: 1/2;
    grid-row: 1/3;
  }
  .DMCDeloreanReviews {
    grid-column: 2/3;
    grid-row: 1/3;
  }
}

/* Classification Pages */
#inv-display {
  margin: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 50px;
  text-align: center;
  /* justify-items: center; */
}
#inv-display li {
  border: 2px solid lightgray;
  border-radius: 6px;
}
#inv-display a {
  font-size: 1rem;  
}
#inv-display img {
  object-fit: contain;
  width: 100%;
  max-width: 500px;
  border-radius: 6px;
}
@media (max-width: 37.5em) {  
  #inv-display {
    display: flex;
    flex-direction: column;
  }
}

/* Inventory Detail Pages */
#inv-detail img {
  width: 100%;
  max-width: 900px;
  margin-top: 30px;
}
@media (min-width: 37.5em) {
  #inv-detail {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
  /* #invDetailPageLeft {} */
}

/* Login/Register Page */
form {
  margin-left: 50px;
  margin-right: 50px;
}
fieldset {
  padding: 10px;
  border-color: white;
  border-radius: 3px;
  background-color: rgb(95, 148, 210);
  border-radius: 7px;
}

.from label, .form input {
  display: block;
  margin-bottom: 16px;
}
.form button {
  display: block;
  margin-top: 16px;
  font-size: 1rem;
}
.form input, textarea {
  max-width: 200px;
  width: 100%;
}
#registerArea {
  text-align: center;
}
#registerArea a {
  color: black;
}
.showPassword-btn {
  background-color: #383838;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 20px;
  color: white;
}
/*
input:required:invalid, input:focus:invalid {
  /* insert your own styles for invalid form input 
}
input:required:valid {
  /* insert your own styles for valid form input 
} */

/* management pages */
#managementUl {
  list-style: none;
}
#classificationList {
  max-width: 150px;
  width: 100%;
  display: block;
}
