<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
        res.redirect('/')
    } %>
    
    <%- messages() %>
    
    <div class="form">
        <p>FIELDS IS REQUIRED.</p>
        <fieldset action="/inv/add-classification" method="POST">
            <label for="classification_name">Classification Name
                <br> 
                <br> 
                <span>NAME MUST BE ALPHABETIC CHARACTERS ONLY</span>
                <input type="text" name="classification_name" id="classification_name" pattern="^[^\s\W]+$" required>
            </label>
            <button type="submit">Add Classification</button>
        </fieldset>
    </div>